<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main class="body-content">
    <h1><%= title %></h1>
    <h4>Welcome to express world</h4>
  </main>
</body>
</html>