<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title #{pageTitle}
  body
      header.main-header
          nav.main-header-nav
             ul.item-list
               li  Home
             ul.item-list
               li  About
      block content