.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-container {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  flex-direction: column;

  .user-card {
    width: 25rem;
    height: 40px;
    margin-top: 20px;
    box-shadow: 3px 3px grey;
  }

  .users {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-name{
    font-size: 20px;
    font-weight: 800;
    color: black;
    padding: 10px;
  }
}

.user-card:hover {
  cursor: pointer;
  transform: scaleX(10px)
}
